[build]
  base = "full-stack-app/ems-frontend"
  command = "npm install && npm run build"
  publish = "full-stack-app/ems-frontend/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
